.backg-card{
  background-color: #1E2A5E;
}

.cir-cle-orange{
  font-size: 18px;
  margin: 10px;
  color: lightsalmon;
}
.cir-cle-green{
  font-size: 18px;
  margin: 10px;
  color: lightcoral;
}

.cir-cle-cec{
  font-size: 18px;
  margin: 10px;
  color: lightgreen;
}
.cir-cle-admin{
  font-size: 18px;
  margin: 10px;
  color: dodgerblue;
}
.icon-forum,
.icon-teacher,
.icon-students,
.icon-comment{
  color: #F5F5F7;
}

.icon-student-dash,
.icon-teacher-dash,
.icon-manage-dash,
.icon-feedback-dash,
.icon-dark-dash,
.icon-logout-dash{
  color: #001F3F;
}

.cec-bgck{
  background-color: #1E2A5E;
}