.ratings-num{
  font: 50px 'Outfit';
}
.star{
  font-size: 50px;
  color: #F4CE14;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; /* Change this to your desired color */
  background-size: 100%, 100%; /* Ensure the icon fits well */
}
